<div style="margin: auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card" style="width: 48rem; margin: auto">
    <div class="card-header text-white bg-dark">
      Sign up to join us!
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-light">
        <div class="input title">
          <label class="form-label"><%= f.label :email %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter your email", :required => true %>
        </div>
      </li>
      <li class="list-group-item bg-light">
        <div class="input content">
          <label class="form-label"><%= f.label :password %></label>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Enter your password", :required => true %>
        </div>
      </li>
      <li class="list-group-item bg-light">
        <div>
          <label class="form-label"><%= f.label :password_confirmation %></label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Reapeat your password", :required => true %>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "Sign up", class:'btn btn-dark' %>
  </div>
  <% end %>
</div>
<hr />
<%= render "devise/shared/links" %>