<h1>Kudos</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver.email %></td>
        <td><%= kudo.receiver.email %></td>
        <td><%= link_to 'Show', kudo, class:"btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_kudo_path(kudo), class:"btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to 'New Kudo', new_kudo_path, class:"btn btn-dark" %>
</div>

