<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div style="margin: auto">
  <div class="card" style="width: 48rem; margin: auto">
    <div class="card-header text-white bg-dark">
      Please sign in!
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-light">
        <div class="input title">
          <label class="form-label"><%= f.label :email %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter your email", :required => true %>
        </div>
      </li>
      <li class="list-group-item bg-light">
        <div class="input content">
          <label class="form-label"><%= f.label :password %></label>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Enter your email", :required => true %>
        </div>
      </li>
      <% if devise_mapping.rememberable? %>
      <li class="list-group-item bg-light">
        <div>
          <label class="form-label"><%= f.label :remember_me %></label>
          <%= f.check_box :remember_me %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "Log in", class:'btn btn-dark' %>
  </div>
  <% end %>
</div>


<%= render "devise/shared/links" %>